<h1>New Subscription</h1>

<%= form_with(model: [@forum, @subscription], local: true) do |form| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
        <% @subscription.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :priority %>
    <%= form.number_field :priority, in: 1..10 %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Subscription' %>
  </div>
<% end %>

<%= link_to 'Back to Forums', forums_path %>
